input.edit-with-elementor {
    margin: 1em 0;
    background: #0085ba;
    border-color: #0073aa #006799 #006799;
    box-shadow: 0 1px 0 #006799;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
    font-size: 14px;
    height: 46px;
    line-height: 44px;
    border-radius: 0;
    padding: 0 36px;
    box-shadow: 0 2px 0 #006799;
}

input.edit-with-elementor:focus,input.edit-with-elementor:hover {
    background: #008ec2;
    border-color: #006799;
    color: #fff;
}
